

/*关于我们*/
#about_us .border_bottom
{
	width: 410px;
	height: 94px;
	border-bottom: solid 1px #cbcbcb;
}
#about_us .textarea
{
	width: 180px;
	height: 74px;
	text-align: center;
	padding-top: 70px;
	font-size:20px ;
	color: #d43b33;
}
#about_us .about
{
	color: #cbcbcb;
}
/*企业文化*/
/*#Enterprise_Informationdada
{
	height: 382px;
	color: #000000;
	background: url(../imgs/by_good_project.png);
}*/
#Enterprise_Informationdada
{
	height: 382px;
	color: #000000;
	background: url(../imgs/by_good_project.png);
	padding-top:80px ;
	margin-top: 40px;
}
#Enterprise_Informationdada dl
{
	margin-top: 20px;
}
#Enterprise_Informationdada dl dt
{
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
}
#Enterprise_Informationdada dl dd
{
	border-bottom: solid 1px #bebebe;
	line-height: 26px;
}

/*<!--大事记-->*/
#chronicle_of_events
{
	color: #000000;
	
}
#chronicle_of_events .content
{
	background:#4b4b4b;
	height: 348px;
}
#chronicle_of_events .content .box250
{
	width: 210px;
	height: 114px;
	color: white;
	padding: 60PX 20PX 0PX 20PX;
}
#chronicle_of_events .text_center
{
	margin-top: 60px;
}
#chronicle_of_events .continue
{
	text-align: center;
	background: #D43B33;
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	margin-bottom: 60px;
}
