#news #headline ul
{
	width: 667px;
	margin: 50px auto;
}
#news ul li
{
	width: 333px;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	float: left;
	background: #fafafa;
	color: #000;
	margin: 30px auto;
}
#news ul .locking
{
	background: url(../imgs/tabbg.png);
	width: 334px;
	height: 42px;
}

#news #show .box_490w
{
	width: 490px;
	height: 202px;
	margin: 10px 0px;
}
#news #show img
{
	width: 202px;
	height: 202px;
}
#news #show .show_text
{
	width: 268px;
	height: 182px;
	color: #757678;
	padding: 20px 0px 0px 20px;
	background: #f2f2f2;
}
#news #show .jmp>ul>li
{
	background: #d8d8d8;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#news #show .jmp .pitch_on
{
	background: #D43B33;
}